<form  [formGroup]="Form">
<div class="invmaindiv">
<div class="invheadsec">
  <div>
    <div class="create-form-button" (click)="BackToList()">
      <i class="material-icons">arrow_back</i>
      <input  class="formbtn" type="button" value="Back">
    </div>
    <div class="create-form-button" (click)="Submit()">
      <i class="material-icons">save</i>
      <input  class="formbtn" type="button" value="Save">
    </div>
    <div class="create-form-button" (click)="Delete()">
      <i class="material-icons">delete</i>
      <input  class="formbtn" type="button" value="Delete">
    </div>
    <div class="create-form-button" (click)="PDF()">
      <i class="material-icons">print</i>
      <input  class="formbtn" type="button" value="PDF">
    </div>
    <!-- <div class="create-form-button">
      <i class="material-icons">clear</i>
      <input  class="formbtn" type="button" value="Clear">
    </div> -->
  </div>
<div class="pageheader">
  <h1>Invoice</h1>
</div>
<div class="invnumbrdisply">
<label>Invoice Number</label>
<input type="text" class=" form-controlmse" formControlName="NumberDisplay" style="color:#2a55e0;font-weight: 600;">
</div>
</div>
<div class="invbddiv">
  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Invoice Basic Details
        </mat-panel-title>
        <mat-panel-description>
         Open this to see customer and invoice details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class=" exttb" >

        <div class="container" >
        <div>
          <div class="pagetitle">
            <h5>Customer Details</h5>
        </div>
        <div formGroupName="CustomerDetails">
        <div class="address-container">
          <label>Customer Name</label>
          <input type="text" class="form-controlmse" style="width: 430px;" formControlName="Name" >
        </div>
        <div class="address-container">
          <label>TRN</label>
          <input type="text" class="form-controlmse" style="width: 430px;" formControlName="Vatumber"  >
        </div>
        <div class="address-container">
          <label>Phone</label>
          <input type="text" class="form-controlmse" style="width: 430px;" formControlName="Phone"  >
        </div>
        <div class="address-container">
          <label>Email</label>
          <input type="text" class="form-controlmse" style="width: 430px;" formControlName="Email"  >
        </div>
        <div class="address-container">
          <label>Customer Address</label>
          <div style="display: flex;">
            <textarea class="form-controlmse" style="width: 430px;" formControlName="Address" ></textarea>
            <!-- <input type="text" class="form-controlmse" >
            <input type="text" class="form-controlmse" > -->
          </div>
        </div>
        </div>
        </div>
        <div >
           <div class="pagetitle">
          <h5>Invoice Details</h5>
        </div>
        <div>
          <div class="address-container">
            <label>Invoice Date</label>
            <!-- <input type="date" class="form-controlmse" style="width: 430px;" formControlName="EntryDate"> -->
            <div class="custom-mat-form-field descitm" style="margin-left: 11px;width: 430px;height: 33px;">
              <input  matInput [matDatepicker]="picker" formControlName="EntryDate"  (click)="openDatePicker(picker)"  #ref1
            (dateChange)="ChangeEntryDate(ref1.value)"  >
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </div>
          </div>
          <div class="address-container" style="pointer-events: none;">
            <label>TRN</label>
            <input type="text" class="form-controlmse"   [value]="vatNumber"  style="color:#2a55e0;font-weight: 600;width: 430px;" >
          </div>


        </div>
        </div>

        </div>

        </div>
    </mat-expansion-panel>
  </mat-accordion>

<div>
  <div style="display: flex;flex-direction: row;align-items: end;">
  <div class="pagetitle">
    <h5>Invoice Details</h5>
  </div>
  <div style="display: flex;flex-direction: row;height: fit-content;padding: 12px 10px 6px 13px;align-items:center">
    <label style="padding-right: 10px;font-weight: 500;font-size: 17px;">Tax</label>
  <select style="margin-left: 15px;width: 117px;" class="form-control" formControlName="SelectedTaxId" >
    <option *ngFor="let option of taxList" [value]="option.id">{{ option.name }}</option>
  </select>
  </div>
</div>
<div>
<div style="padding: 0px 10px 10px 10px;;height: 300px;overflow: auto;">
  <table class="itmtable">
    <thead>
    <tr>
      <th style="width: 40px;text-align: center;">No</th>
      <th style="width: 610px;text-align: center;">Description</th>
      <th style="text-align: center;">Date</th>
      <th style="width: 90px;text-align: center;">Qty/Day</th>
      <th style="width: 70px;text-align: center;">Price</th>
      <th style="width: 60px;text-align: center;">VAT %</th>
      <th style="text-align: right;">Taxable Value (AED)</th>
      <th style="text-align: right;">VAT(AED)</th>
      <th style="text-align: right;">Total incl.(VAT)</th>
      <th style="width: 40px;"></th>
    </tr>
  </thead>
  <tbody formArrayName="InvoiceItems"  >
    <tr *ngFor="let cont of invitems.controls; let i = index" [formGroupName]="i" (focusout)="CalculateWholeAmounts()">
      <td  style="text-align: center;">{{ i + 1}}</td>
      <td style="text-align: center;"><input type="text" class="descitm" formControlName="Description"></td>
      <td style="text-align: center;">
        <div class="custom-mat-form-field descitm">
          <input matInput [matDatepicker]="picker" formControlName="Date"  (click)="openDatePicker(picker)" #ref44
          (dateChange)="ChangeDateInvoiceContents(ref44.value,i)"  >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </div>
      </td>

      <td style="text-align: center;"><input type="number" class="descitm" min="0" formControlName="QtyPerDay" ></td>
      <td style="text-align: center;"><input type="number" class="descitm" min="0" formControlName="Price" (change)="PriceChange(cont,i)" ></td>
      <td style="text-align: center;"><input type="number" class="descitm"  formControlName="Vatpercentage"></td>
      <td style="text-align: right;"><input type="number" class="descitm"  min="0" (change)="CalculateInlineAmount(cont,i)" formControlName="TaxableValue" style="text-align: right;" ></td>
      <td style="text-align: center;"><input type="number" class="descitm disablee"  formControlName="Vatamount" style="text-align: right;"></td>
      <td style="text-align: center;"><input type="number" class="descitm" min="0"  formControlName="TotalAmount" style="text-align: right;"></td>
      <td style="text-align: center;">
        <i class="material-icons" style="cursor: pointer;" matTooltip="Delete" matTooltipPosition="below" (click)="DeleteItem(i)"
         >delete</i>

      </td>
    </tr>

  </tbody>
  </table>
</div>
<diV>
  <button  class="btnadditem" (click)="AddInvoiceItem()">Add Item</button>
</diV>
<div style="float: right;padding: 20px 15px 10px 15px;" formGroupName="InvoiceAmount">
  <table class="dtltabl" (focusout)="CalculateWholeAmounts()" >
    <tr>
      <th>Taxable Value in AED</th>
      <td><input type="number" class="descitm" style="width: 200px;text-align: right;color: #2a55e0;font-weight: 600;" formControlName="TaxableValue"></td>
    </tr>
    <tr>
      <th>VAT @ 5%</th>
      <td><input type="number" class="descitm" style="width: 200px;text-align: right;color: #2a55e0;font-weight: 600;" formControlName="Vatamount"></td>
    </tr>
    <tr>
      <th>Total Amount in AED</th>
      <td><input type="number" class="descitm" style="width: 200px;text-align: right;color: #2a55e0;font-weight: 600;" formControlName="TotalAmount"></td>
    </tr>
  </table>
</div>
</div>



</div>
</div>

</div>
</form>
