.invmaindiv{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:whitesmoke;
  display: flex;
  flex-direction: column;
}
.invheadsec{
  height: 60px;
  background-color: white;
  margin : 10px 10px 10px 10px ;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invbddiv{
  border-radius: 5px;
  background-color: white;
  margin : 0px 10px 10px 10px ;
}

.create-form-button {
  border-radius: 4px;
  background-color: #021d75;
  color: white;
  border: none;
  cursor: pointer;
  border: 0;
  float: left;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding-left: 3px;
  margin-left:10px;
  margin-right: 5px;
}
.formbtn{
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
}

.pageheader{
  font-size: 18px;
  color: #021d75;
  font-weight: 500;
  margin-top: 16px;
}
.exttb{
  display: flex;
  flex-direction: row;
}
.invnumbrdisply{
  pointer-events: none;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container > div {
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
}
.address-container {
  width: 464px;
 margin: 3px;
 padding-left: 8px;
}

.address-container label {
  flex-shrink: 0;
  width: 150px; /* Adjust the width as needed */
  text-align: right;
  margin-right: 10px;
  font-weight: 500;
}

.address-container input {
  flex-grow: 1;
  /* Add any other styling for the input */
}
.itmtable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.itmtable thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
}
.itmtable th {
  /* border: 1px solid black; */
  /* padding: 8px;
  text-align: left; */
  background-color: #021d75;
  color: aliceblue;
  font-weight: 400;
  height: 41px;
}
.dtltabl th {
  font-weight: 500;
  width:200px;
}
.dtltabl td {
  width:80px;
}
.itmtable tr:nth-child(even) {
  background-color: #dddddd;
}

.itmtable td{
  padding: 8px;;
}
.descitm{
  width: 100%;
  outline: none;
  border: solid 1px grey;
  border-radius: 5px;
  height: 100%;
  padding: 5px
}
.mat-input-element {
  width: 100%;
  outline: none;
  border: solid 1px grey;
  border-radius: 5px;
  height: 100%;
  padding: 5px;
}
.descitm:hover{
  border: 2px solid #021d75;
}
.btnadditem{
  border: none;
  outline: none;
background-color: #021d75;
color: #dddddd;
padding : 5px 15px;
margin-top: 12px;
border-radius: 5px;
margin-left: 10px;
text-align: center;
font-weight: 500;
cursor: pointer;
}
.custom-mat-form-field {
  /* Add your custom styles here */
  /* Example styles: */
  border: 1px solid grey;
  width: 99%;
  background-color: transparent;
  display: flex;
  padding: 0;
  align-items: center;
  height: 26px;
}

.custom-mat-form-field .mat-form-field-wrapper {
  /* Remove default input styles */
  border: none;
  background-color: transparent;
  padding: 0;
}

.custom-mat-form-field .mat-form-field-flex {
  /* Remove default input styles */
  display: flex;
  align-items: center;
}

.custom-mat-form-field input {
  /* Add your custom styles for the input element here */
  /* Example styles: */
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5px;

}

label{
  display: contents;
}
.tablediv{
  padding: 0px 10px 10px 10px;height: 300px;overflow: auto;
}
@media only screen and (max-width: 768px) {
.hidebtn{
  display: none;
}
.tablediv{
  padding: 0px 10px 10px 10px;height: 300px;overflow: auto;
}
.paddingbtns{
  padding: 10px 0px;
}
}
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .bdheight{
    height: 600px;
  }
  .tablediv{
    padding: 0px 10px 10px 10px;height: 600px;overflow: auto;
  }
  .paddingbtns{
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 1025px) {
  /* Your styles for desktops and larger screens here */
  .hidefooterbtns{
    display: none;
  }
}
@media only screen and (min-width: 800px) and (max-width: 830px) {
  .bdheight{
    height: 600px;
  }
  .tablediv{
    padding: 0px 10px 10px 10px;height: 600px;overflow: auto;
  }
  .paddingbtns{
    padding: 10px 0px;
  }
  .hidefooterbtns{
    display: none;
  }
}
