@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Lato', sans-serif;
}
 /* Style the scrollbar */
 ::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change the background color as desired */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #021d75; /* Change the handle color as desired */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #021d75; /* Change the handle color on hover as desired */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bottomall-save {
  float: right;
  width: auto;
  margin-right: 1em;
  padding: 0 5px;
  height: 25px;
  transition: 1s;
  display: flex;
  background-color: lightgrey;
  cursor: pointer;
}
.bottomall-save:hover{
  background-color: rgb(163, 161, 161);
}
.topbutons .bottomall-save {
  float: left;
  padding: 2px 4px;
  height: 26px;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.btnabv{
  border: none;
    background-color: transparent;
    cursor: pointer;
}
.maindiv{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;

}
.headsec{
  height: 60px;
  background-color: white;
  border-radius: 10px;
  margin : 10px 10px 10px 10px ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bddiv{
  height: 80%;
  background-color: white;
  border-radius: 10px;
  margin : 10px 10px 10px 10px ;
}
.form-control{
  border: 1px solid rgb(192, 190, 190);
  outline: none;
  margin-left: 10px;
  padding : 5px 10px;
  border-radius: 5px;
}
.form-input{
  width: 230px;
}
.form-control:hover{
  border: 2px solid #021d75;
}
.form-group{
  margin: 10px;
}

.pagetitle {
  width: 100%;
  margin-left : 10px;
  float: left;
  margin-top: 1em;
}
.pagetitle h5 {
  font-size: 15px;
  /* font-weight: 500; */
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  color: #232323;
  float: left;
}
.pagetitle h5:before {
  position: absolute;
  content: '';
  border-bottom: 2px solid #0742ab;
  width: 25px;
  margin-top: 18px;
}



.loader {
  border: 20px solid #13131367;
  border-radius: 50%;
  border-top: 20px solid #021d75;
  width: 180px;
  height: 180px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin .35s linear infinite;
}
.loadercontainmain {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1; /* Semi-transparent background color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Set a high z-index to ensure it appears on top */
  pointer-events: none;
  overflow: hidden;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
